﻿@model NopCommerceClone.Data.EntityModel.User
@{
}
@section Styles {
    <link href="~/css/initial.css" rel="stylesheet" type="text/css" />
}


<div class="form">
    <form class="content" method="POST">
        @Html.AntiForgeryToken()
        <div class="custom-container">
            <label for="username">
                <b>Enter username</b>
            </label>
            <input type="text" name="username" placeholder="Enter a unique username" />

            @Html.ValidationMessageFor(model => model.Username)
            <br />
            <label for="password">
                <b>Password</b>
            </label>
            <input type="password" name="password" placeholder="Enter password" />
            @Html.ValidationMessageFor(model => model.Password)
            <br />

            <label for="cpassword">
                <b>Confirm Password</b>
            </label>
            <input type="password" name="confirmpassword" placeholder="Enter password again" />
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            <br />

            <input type="submit" name="register" value="Registration" />
            @Html.ValidationMessage("dbDown")
            @Html.ValidationMessage("dublicate")
            <div class="custom-form-group align-center">
                <a href="/Login"><b>Click here to login</b></a>
            </div>

        </div>
    </form>
</div>