﻿@model NopCommerceClone.Web.Models.LoginViewModel

@{

}


@section Styles {
    <link href="~/css/initial.css" rel="stylesheet" type="text/css" />
}

<div class="form">
    <form method="post" class="content">
        @Html.AntiForgeryToken()
        <div class="custom-container">
            <label for="username">  <b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" />
            <small style="color:red;">@Html.ValidationMessageFor(model => model.Username)</small><br />
            @{
                if (ViewBag.CredError != null)
                {
                    <script>alert("Invalid Login Credentials");</script>
                }
            }
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter password" name="password" />
            <small style="color:red;">@Html.ValidationMessageFor(model => model.Password)</small><br />
            <input type="submit" name="login" value="Login" />
            <div class="custom-form-group align-center">
                <a href="/Registration"><b>Click here to register</b></a>
            </div>
        </div>
    </form>
</div>


<style>

    .register {
        padding: 5px;
    }
</style>