﻿@model NopCommerceClone.Models.ProductViewModel

@{
    if (ViewBag.Unauthorized != null || ViewBag.Unauthorized == false)
    {
        <script>
            alert('Not authorized to view this page ');
            // window.location.href = "/Home/Index";

        </script>

    }
    foreach (var item in Model.Roles)
    {
        if (item.RoleValue == "superadmin")
        {
            <a href="/Product/Create">Click Here To Create Product</a>
            break;
        }
    }
}

<script>
    $(document).ready(function () {
        console.log('Hello world !');

        $('#myTable').DataTable();
    });
</script>

<div class="text-center">

    <h1 class="display-4">Modify Products</h1>

    <table id="myTable">
        <thead>
            <tr>
                <th>
                    Product ID
                </th>

                <th>
                    Product Name
                </th>
                <th>
                    Product Price
                </th>
                <th>
                    Category
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td> @item.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.Catelog.CatelogName</td>
                        <td><a href="/Product/Edit/@item.ID.ToString()">Edit</a> | <a href="/Product/Delete/@item.ID.ToString()">Delete</a> </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
