﻿body {
}
.form {
    left: 0;
    top: 0;
    width: 60%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding: 30px;
    margin-left: 20%;
    border: 1px solid;
    margin-top: 5%;
}

input[type=text], input[type=password], input[type=number],select,option {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:small;
}

input[type=submit] {
    padding: 10px;
    background-color: palevioletred;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 50%;
    margin: 0 auto;
    display: block;
}

.custom-form-group {
    padding:5px;
    width: 100%;
}

.align-center {
    text-align: center;
}

@media only screen and (max-width : 800px) {
    input[type=submit] {
        width: 100%;
    }
}