﻿@model NopCommerceClone.Web.Models.CatelogViewModel

@section Styles {
    <link href="~/css/initial.css" rel="stylesheet" type="text/css" />
}
<div>
    <form method="POST">
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <th>Product name</th>
                <th> Product Price</th>
                <th> Catelog </th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="productName" placeholder="Enter Product name" />
                </td>
                <td>
                    <input type="number" name="price" placeholder="Enter an amount " />
                </td>
                <td>
                    <select name="catelogId">
                        @foreach (var item in Model.Catelogs)
                        {
                            <option value="@item.ID">@item.CatelogName</option>
                        }
                    </select>
                </td>
                
            </tr>
            <tr>
                <td>
                    <input type="submit" value="insert" name="insert" />
                </td>
            </tr>
        </table>
    </form>
</div>
