﻿@model NopCommerceClone.Data.EntityModel.Product

@section Styles {
    <link href="~/css/initial.css" rel="stylesheet" type="text/css" />
}

@{
    if (ViewBag.Unauthorized != null || ViewBag.Unauthorized == false)
    {
        <script>
            alert('Not authorized to view this page ');
                    // window.location.href = "/Home/Index";

        </script>
    }
}

<form method="post" action="/Product/Delete/@Model.ID">
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <th>Product ID </th>
            <th>Product Name </th>
            <th>Product Price </th>
            <th>Product Catelog</th>
        </tr>
        @{

            <tr>
                <td>@Model.ID</td>
                <td>@Model.ProductName</td>
                <td>@Model.Price</td>
                <td>@Model.Catelog.CatelogName</td>
            </tr>
        }
        <tr>
            <td>
                Do you want to delete ?
            </td>

        </tr>
        <tr>
            <td>
                <input type="submit" name="delete" value="yes" />
            </td>
            <td>
                <button> <a href="/Home">Back</a> </button>
            </td>
        </tr>
    </table>
</form>