﻿@model NopCommerceClone.Data.EntityModel.Product

@section Styles {
    <link href="~/css/initial.css" rel="stylesheet" type="text/css" />
}
<div>
    <form method="POST">
        <table >
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Product Price
                </th>

            </tr>
            @{
                <tr>

                    <td>
                        <input type="text" value="@Model.ProductName" name="productName" placeholder="Enter updated product name" />
                    </td>
                    <td>

                        <input type="number" value="@Model.Price" name="price" placeholder="Enter updated product price" />
                    </td>

                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Update" name="update" />
                    </td>
                </tr>
            }
        </table>
        <div>
            <input type="hidden" value="@Model.CatelogID" name="catelogId" />
            <input type="hidden" value="@Model.ID" name="id" />
            

        </div>
    </form>
</div>